
.vs/ProjectSettings.json
.vs/ScriptHookRDR2V2/v17/.suo
*.obj
*.recipe
*.iobj
*.ipdb
*.log
*.pch
*.tlog
*.pdb
*.sqlite
*.json
ScriptHookRDR2/.vs/ScriptHookRDR2/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.dll
